<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cart</ion-title>
    <ion-buttons end>
        <button class="close-button" padding (click)="closeCartModal()">
          <ion-icon class="close-icon" name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="cart-item">
    <ion-grid *ngFor="let p of products; let i = index" class="background-grid">
      <ion-row class="background-row">
        <ion-col>
          <!-- <img [src]="'http://reestock.com.mx/'+p.products.product_img"> -->
          <img [src]=" ('http://reestock.com.mx/'+p.products.product_img) || (loadingGif) "> 
        </ion-col>
        <ion-col col-8>
          <ion-row>
            <ion-col col-12 class="product-details">
              <ion-label><b>{{p.products.product_name}}</b></ion-label>
            </ion-col>
            <ion-col col-12 class="product-details">
              <ion-label class="product-brand">{{p.products.brand}} {{p.products.unity}}</ion-label>
            </ion-col>
            <ion-col col-12 style="display: inline-flex;   align-items: center;
            ">
                <button ion-button small color="danger" (click)="quantityHandler('minus', p.id, i)" [ngClass]="{'section-active': p.open, 'section': !p.open}"><ion-icon name="remove"></ion-icon></button>
                <span  class="qty" *ngIf="!p.open" value="p.quantity">{{p.quantity}}</span>
                <ion-spinner name="dots" *ngIf="p.open"></ion-spinner>
                <button ion-button small color="danger" (click)="quantityHandler('plus',p.id, i)" [ngClass]="{'section-active': p.open, 'section': !p.open}"><ion-icon name="add"></ion-icon></button>
                <button ion-button small color="danger" (click)="presentPrompt(p.id, i, p.instructions)"><ion-icon name="paper"></ion-icon></button>
                <button ion-button small color="danger" (click)="deleteFromCart(p.id, i)"><ion-icon name="trash"></ion-icon></button>
            </ion-col>
            <ion-col col-12 style="display: -webkit-box;" *ngIf="p.instructions != NULL">
              <ion-label for="" style="font-weight: bold; color: red; width: 85px; font-size: 8pt">Instrucciones: </ion-label><ion-label style="width: 75%; font-size: 8pt">{{p.instructions}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col style="font-size: 8pt;">
            ${{p.sale_price}} 
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ion-footer no-shadow>

    <ion-row col-12 class="subtotal">
      <ion-col class="subtotal-labels">
        <ion-label>Subtotal</ion-label>
        <ion-label>Envio</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="subtotal-price">{{subtotal}} MXN</ion-label>
        <ion-label class="subtotal-price">+60.00 MXN</ion-label>
      </ion-col>
    </ion-row>
    <ion-row col-12 class="total">
      <ion-col>Total</ion-col>
      <ion-col><ion-label class="total-price">{{total}} MXN</ion-label></ion-col>
      
    </ion-row>

  <ion-toolbar position="bottom">
    <button ion-button full color="light" class="continue-button" (click)="checkout()" >Continuar</button>
  </ion-toolbar>
</ion-footer>
