<!-- Generated template for the NavComponent component -->
<ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons class="nav-button" padding end >
        <button >
            <ion-icon name="search"></ion-icon>
        </button>    
    </ion-buttons>
        <ion-buttons class="nav-button" padding end (click)="openCart()">
            <button >
                <ion-icon name="cart"></ion-icon>
            </button>
        </ion-buttons>
    <ion-title>{{text}}</ion-title>
  </ion-navbar>
